<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>{{"LOGIN_LABEL" | translate }}</ion-title>
  </ion-navbar>

</ion-header>-->

<ion-content padding>
    <ion-card  class="app-logo">
        <img src="assets/imgs/app-logo.png" />
    </ion-card>
   <form [formGroup]="form"> 
      <ion-item>
        <ion-label stacked>集团</ion-label>
        <ion-select [(ngModel)]="group" name="group"  formControlName="group" >
          <div *ngFor="let g of groups">
            <ion-option value="{{g.serviceKey}}">{{g.name}}</ion-option>
          </div>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>商店</ion-label>
        <ion-select [(ngModel)]="store"  name="store" formControlName="store">
          <div *ngFor="let s of stores">
            <ion-option value="{{s.value}}">{{s.name}}</ion-option>
          </div>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>用户名</ion-label>
        <ion-input type="text" [(ngModel)]="username" name="username"  formControlName="f_username" clearInput></ion-input>
      </ion-item>
      <ion-item    *ngIf="!form.controls.f_username.valid  && (form.controls.f_username.touched )">
        <p class="error-form">请输入用户名.</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>密码</ion-label>
        <ion-input type="password"  [(ngModel)]="password" name="password"   formControlName="f_password"  clearInput></ion-input>
      </ion-item>
      <ion-item  *ngIf="!form.controls.f_password.valid  && (form.controls.f_password.touched )">
        <p    class="error-form">请输入密码.</p>
      </ion-item> 
    <div padding>
      <button ion-button block (click)="login()" [disabled]="!form.valid">登录</button>
    </div>
  </form>   
</ion-content> 
<ion-footer no-shadow>
    <ion-item>
        <ion-label color="primary" text-center	>V 1.0</ion-label> 
    </ion-item>
</ion-footer>