page-create-order-product {
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .section-active {
        background: #ffc400;
        color: #fff;
    }
 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
       
    }
    .list {
        margin-bottom: 4px;
    }
    .prop-table{
        .col{
            border: solid 1px #888;
            font-size: 14px;
        }
        .row{
            height: 26px;
        }
    }
    .block-small {

        .row {
            height: 30px;
            margin-bottom: 5px;
        }
        .col {
            height: 26px;
        }
    }
     
    .product-add-button{
        font-size: 10px;
    }
    .size-label{
        text-align: center; 
        padding-top: 12px;
    }
    .product-add-block{
        height: 50px;
        border: solid 1px #888;
    } 
    .product-add-input .text-input{
        border: solid 1px #999;
        margin-top: 7px !important;
    }
    .text-input[disabled] {
        opacity: 1; 
        background: #eee;
     }
      .child-item{
        padding: 0px;
     }
     .prop-code-label{
        width: 100% !important;
        padding: 3px;
     }
     .section { 
        margin-bottom: 0px;
        background: #000;
        color: #fff;
    }
    .section-active {
        background: #000; 
    }
    .product-delete-button{
        background: #000;
        color: #fff;
        text-align: center;
    }
    .product-price{
        ion-input{ 
            border: solid 1px #888;
            padding-left: 3px;
        }
    }
    .item-ios {
        padding-left: 0px;
    }
    .label-ios {
         margin: 0px 8px 0px 0;  
    }

    .accordion-list{
      .list-header{
        margin-bottom: 5px;
      }
    }
}
