<ion-header> 
  <order-header [headerTitle]="headerTitle"> 
  </order-header>
  <breadcrumbs [pageNumber]="pageNumber"></breadcrumbs> 
  <ion-toolbar>
    <ion-searchbar
    [(ngModel)]="productCode" placeholder = "Product Code "
    >
  </ion-searchbar>
    <ion-buttons end style="min-height: 44px;">
        <button  style= "height: 30px; margin-top: 8px;" [disabled] = "!productCode || productCode && productCode.length < 5 "  (click) ="searchProductByCode()">
             确定
        </button>
         <button ion-button icon-only (click) ="searchProductByQRcode()" style ="height: 44px;  margin-top: -5px;">
            <ion-icon name="md-qr-scanner"></ion-icon>
        </button>
    </ion-buttons> 
</ion-toolbar>   
</ion-header> 
<ion-content padding> 
    <ion-list class="accordion-list">
        <!-- First Level -->
        <ion-list-header *ngFor="let item of productList; let i = index" no-lines no-padding>  
          <!-- Toggle Button -->
          <ion-row   no-padding  >  
          <button col-10 ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
              {{ item.productCode }} 
          </button> 
          <button col-2 ion-item  detail-none  class= "product-delete-button" (click) = "deleteProduct(item)">
                  <ion-icon name="ios-trash" ></ion-icon>
          </button>
        </ion-row> 
          <ion-list *ngIf="item.children && item.open" no-lines>
              <ion-item> 
                    <ion-grid  item-content  class="block-small" > 
                            <ion-row   class= " prop-table"  item-content  no-padding  *ngFor="let order of item.orderedList; let j = index" >  
                                <ion-col col-6 text-center>  
                                        {{  order.productCode}} 
                                </ion-col>  
                                <ion-col col-6 text-center  *ngIf="order.unit == 'piece'">  
                                        {{  order.color}}/{{  order.size}} x {{  order.count}}
                                 </ion-col>
                                 <ion-col col-6 text-center *ngIf="order.unit != 'piece'">  
                                        {{  order.count}} 
                                 </ion-col>
                            </ion-row>  
                            <ion-row  no-padding >
                                    <ion-col col-3>
                                      <label class="label-small">总件数 :</label>
                                    </ion-col>
                                    <ion-col col-8>
                                      <ion-input class = "input-with-border" [(ngModel)]="item.count" [disabled] = "true"></ion-input>
                                    </ion-col> 
                             </ion-row> 
                          <ion-row  no-padding >
                                <ion-col col-3>
                                  <label class="label-small">单价 :</label>
                                </ion-col>
                                <ion-col col-8>
                                  <ion-input class = "input-with-border"   type = "number"  [(ngModel)]="item.price.value" (blur)="onPiecePriceChange(item)"></ion-input>
                                </ion-col>
                                <ion-col col-1>
                                  <label   class="label-small-right"> € </label>
                                </ion-col>
                         </ion-row> 
                          <ion-row  no-padding >
                                <ion-col col-3>
                                  <label class="label-small">总金额 :</label>
                                </ion-col>
                                <ion-col col-8>
                                  <ion-input class = "input-with-border" [disabled]="true"   [(ngModel)]="item.total"></ion-input>
                                </ion-col>
                                <ion-col col-1>
                                  <label   class="label-small-right"> € </label>
                                </ion-col>
                         </ion-row>  
                        </ion-grid>
              </ion-item> 
            <!-- Second Level -->
               <!-- types  件 箱 包 -->
            <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>
              <!-- Toggle Button -->
              <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
                <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
                <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
                {{ child.name }} 
              </button>   
                        <!-- 配比 79001A-5 ... -->
              <ion-list *ngIf="child.children && child.open" no-padding> 
                  <ion-list *ngIf="child.unit == 'piece'" no-padding>  
                      <ion-item *ngFor="let itemColor of child.children; let k = index" detail-none class="child-item" text-wrap no-padding>
                        <h4 text-center	>{{ itemColor.translation['zh-cn'] }}</h4> 
                        <ion-list *ngIf="itemColor.colorNo && itemColor.sizes " no-padding> 
                            <ion-item *ngFor="let colorSizeItem of itemColor.sizes; let k = index" detail-none class="child-item" text-wrap no-padding> 
                              <ion-row class= "product-add-block" item-content no-padding> 
                                  <ion-col col-3 class = "size-label" >  
                                      {{ colorSizeItem.name }} :
                                  </ion-col> 
                                  <ion-col col-2>  
                                      <button ion-button icon-only  class = "product-add-button"  (click)= "negative(item,colorSizeItem)" >
                                          <ion-icon ios="ios-remove" md="md-remove"></ion-icon>  
                                      </button>
                                  </ion-col>
                                  <ion-col col-5>  
                                      <ion-input  class = "product-add-input" [disabled] = "true"  [(ngModel)] = "colorSizeItem.count" text-center  ></ion-input> 
                                  </ion-col> 
                                  <ion-col col-2  >   
                                      <button   ion-button icon-only  class = "product-add-button" (click)= "add(item,colorSizeItem)" >
                                          <ion-icon name="md-add"></ion-icon>
                                     </button> 
                                  </ion-col> 
                               </ion-row> 
                            </ion-item>
                        </ion-list>  
                      </ion-item>
                  </ion-list> 
                <!-- Third Level --> 
                  <ion-list *ngIf="child.unit != 'piece'"> 
                        <ion-item *ngFor="let prop of child.children; let k = index" detail-none class="child-item" text-wrap>
                          <ion-grid   item-content>
                            <ion-row   no-padding  text-center>  
                                  <h4 text-center  class= "prop-code-label">{{ prop.productCode }}</h4> 
                            </ion-row>
                            <ion-row  class= " prop-table" item-content no-padding  *ngFor="let prop of prop.children; let k = index">  
                                  <ion-col > 
                                      {{ prop.translation['zh-cn']  }} 
                                  </ion-col> 
                                  <ion-col *ngFor="let size of prop.sizes; let k = index">
                                      {{ size.name }} ({{ size.value }}) 
                                  </ion-col>  
                            </ion-row> 
                            <ion-row class= "product-add-block" item-content no-padding> 
                                <ion-col col-2 class = "size-label" >   
                                </ion-col> 
                                <ion-col col-2>  
                                    <button ion-button icon-only  class = "product-add-button"  (click)= "negative(item,prop)">
                                        <ion-icon ios="ios-remove" md="md-remove"></ion-icon>  
                                    </button>
                                </ion-col>
                                <ion-col col-4>  
                                    <ion-input  class = "product-add-input" [disabled] = "true" [(ngModel)] ="prop.count" text-center></ion-input> 
                                </ion-col> 
                                <ion-col col-2  >   
                                    <button   ion-button icon-only  class = "product-add-button"  (click)= "add(item,prop)" >
                                        <ion-icon name="md-add"></ion-icon>
                                   </button> 
                                </ion-col> 
                                <ion-col col-2 class = "size-label" >   
                                </ion-col> 
                             </ion-row> 
                            </ion-grid>
                        </ion-item>
                    </ion-list>   
              </ion-list> 
            </ion-list-header>
          </ion-list> 
          
        </ion-list-header>
      </ion-list>
</ion-content>
<ion-footer> 
  <order-footer [total]=  "total" nextScreen="CreateOrderPaymentPage"></order-footer>
</ion-footer>