<ion-tabs selectedIndex="0">
  <ion-tab [root]="tab1Root" tabTitle="已发送" tabIcon="ios-document-outline"  ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="待发送 " tabIcon="ios-list-box"  ></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="我" tabIcon="ios-contact"  ></ion-tab>
</ion-tabs>
