 
<ion-header> 
  <order-header [headerTitle]="headerTitle" [noChange] = "noChange"> 
  </order-header>
  <breadcrumbs [pageNumber]="pageNumber"></breadcrumbs>  
</ion-header>  
<ion-content padding> 
        <ion-toolbar>  
                <button ion-button full outline (click)="goToSearchClientPage()"> 搜索客户</button> 
                <ion-buttons end>
                     <button ion-button icon-only (click) ="onAddClientClick()">
                        <ion-icon name="md-person-add"></ion-icon>
                    </button>
                </ion-buttons>  
       </ion-toolbar>   
       <div *ngIf="displayClientForm">
       <ion-list>  
            <ion-list-header>
               客户信息 
           </ion-list-header> 
        <ion-item>
          <ion-label  color='label-info' stacked>客户编号</ion-label>
          <ion-input type="tel" placeholder=" " [(ngModel)]="cWholesaleCompany.code" [disabled] = "true"   ></ion-input>
        </ion-item> 
        <ion-item>
            <ion-label  color='label-info' stacked>邮箱</ion-label>
            <ion-input type="tel" placeholder=" " [(ngModel)]="cWholesaleCompany.email" (ngModelChange)= "onCompanyInfoChange()"  clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-label  color='label-info' stacked>注册号</ion-label>
            <ion-input type="tel" placeholder=" " [(ngModel)]="cWholesaleCompany.siret" (ngModelChange)= "onCompanyInfoChange()" clearInput></ion-input>
        </ion-item> 
        <ion-item>
            <ion-label  color='label-info' stacked>TVA</ion-label>
            <ion-input type="tel" placeholder=" " [(ngModel)]="cWholesaleCompany.tvaNumber" (ngModelChange)= "onCompanyInfoChange()" clearInput></ion-input>
            <button ion-button item-right (click)= "verifyTva()">验证</button> 
        </ion-item> 
        <ion-item>
            <ion-label  color='label-info' stacked>企业名</ion-label>
            <ion-input type="tel" placeholder=" " [(ngModel)]="cWholesaleCompany.name" (ngModelChange)= "onCompanyInfoChange()" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-label  color='label-info' stacked>电话</ion-label>
            <ion-input type="tel" placeholder=" " [(ngModel)]="cWholesaleCompany.telephone"  (ngModelChange)= "onCompanyInfoChange()" clearInput></ion-input>
        </ion-item>  
        <ion-item>
                <ion-label color='label-info' stacked>CIVILITY</ion-label>
                <ion-select [(ngModel)]="cWholesaleCompany.civility"  (ngModelChange)= "onCompanyInfoChange()"> 
                   <div *ngFor="let c of civilities">
                        <ion-option value="{{c.value}}">{{c.name}}</ion-option>
                   </div>
                </ion-select>
        </ion-item>
        <ion-item>
                <ion-label color='label-info' stacked>类型</ion-label>
                <ion-select [(ngModel)]="cWholesaleCompany.type"  (ngModelChange)= "onCompanyInfoChange()" > 
                  <div *ngFor="let t of types">
                        <ion-option value="{{t.value}}">{{t.name}}</ion-option>
                   </div>
                </ion-select>
        </ion-item>
        <ion-item>
                <ion-label color='label-info' stacked>税类型</ion-label>
                <ion-select [(ngModel)]="cWholesaleCompany.taxType"  (ngModelChange)= "onCompanyInfoChange()" >
                        <div *ngFor="let tax of taxTypes">
                           <ion-option value="{{tax.value}}">{{tax.name}}</ion-option>
                        </div>
                </ion-select>
        </ion-item>  
      </ion-list>
      <ion-list-header >
            地址簿 
          <button ion-button outline item-end (click)="editAddress()">添加新地址</button>
         </ion-list-header> 
      <ion-list>   
            <ion-item-sliding #item  *ngFor="let address of cWholesaleCompany.address" no-padding> 
                 <ion-item no-padding>
                   <ion-grid item-content>
                    <ion-row no-padding   > 
                                <ion-col col-11  no-padding > 
                                        <ion-row  no-padding >
                                            <ion-col col-12>
                                            <h5 text-wrap>地址 : {{ address.city }} {{ address.countryName }} {{ address.address1 }} {{ address.address2 }} </h5> 
                                            <p>电话 : {{ address.telephone}}</p>   
                                        </ion-col>
                                        </ion-row>  
                                        <ion-row  no-padding >  
                                            <ion-col col-6 no-padding>
                                               <ion-item no-padding>
                                                 <ion-label  class = "checkbox-label"   >设为物流地址</ion-label> 
                                                 <ion-checkbox [(ngModel)]="address.ifDeliveryAddress" (ngModelChange)="updateDeliveryAddress(address)" [disabled]="cWholesaleCompany.address && cWholesaleCompany.address.length == 1 ? 'true' : 'false' "></ion-checkbox>
                                               </ion-item>
                                            </ion-col>  
                                            <ion-col col-6 no-padding> 
                                                <ion-item no-padding>
                                                 <ion-label  class = "checkbox-label" >设为发票地址</ion-label>  
                                                <ion-checkbox [(ngModel)]="address.ifBillingAddress" (ngModelChange)="updateBillingAddress(address)" [disabled]="cWholesaleCompany.address && cWholesaleCompany.address.length == 1 ? 'true' : 'false' "></ion-checkbox>
                                                </ion-item>
                                            </ion-col> 
                                        </ion-row>    
                            </ion-col>
                            <ion-col col-1 align-self-center (click) ="editAddress(address)" > 
                                    <i class="fa fa-pencil" aria-hidden="true"></i> 
                            </ion-col>   
                    </ion-row> 
                </ion-grid>
               </ion-item>
               <ion-item-options side="right">
                    <button color = "danger" ion-button (click)="deleteClientAddress(address)">删除</button>
                </ion-item-options>
            </ion-item-sliding> 
       
      </ion-list> 
      <ion-item text-center   *ngIf="cWholesaleCompany.address && cWholesaleCompany.address.length == 0">
            <p color='label-info'>无地址</p> 
     </ion-item> 
    </div>
      <ion-fab right bottom *ngIf="displayClientForm">
            <button ion-fab color="theme" (click)="onSaveClientClick()">保存</button>
     </ion-fab>
</ion-content>
<ion-footer>
  <order-footer nextScreen ="CreateOrderProductPage"></order-footer> 
</ion-footer>