<ion-header> 
  <ion-navbar>
    <ion-title>{{"USER_PROFILE_LABEL" | translate }}</ion-title>
  </ion-navbar> 
</ion-header> 
<ion-content padding>
    <ion-item>
        <ion-label color='label-info' stacked>姓名</ion-label>
        <ion-label  >{{username}}</ion-label>
   </ion-item>
  <!--  <ion-item>
        <ion-label color='label-info' stacked>职位</ion-label>
        <ion-label  >Email</ion-label>
   </ion-item>  -->
   <ion-item>
    <ion-label stacked>商店</ion-label>
    <ion-select [(ngModel)]="store" >
      <div *ngFor="let s of stores">
        <ion-option value="{{s.value}}">{{s.name}}</ion-option>
      </div>
    </ion-select>
    </ion-item>
    <ion-item>
        <ion-label color='label-info'>语言</ion-label>
        <ion-select [(ngModel)]="language"  (ionChange) = "onLanguageChange()">
          <!--<ion-option value="fr">Français</ion-option>-->
          <ion-option value="cn">中文</ion-option> 
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label color='label-info' stacked>版本号</ion-label>
        <ion-label  >v 1.0</ion-label>
   </ion-item> 
   <div padding>
    <button ion-button block (click)="logout()"  >退出</button>
  </div>
</ion-content>
