 
<ion-header> 
    <ion-navbar> 
      <ion-title>添加客户</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="close()" >
            <ion-icon ios="md-close"></ion-icon>
          </button>
    </ion-buttons> 
    </ion-navbar> 
</ion-header> 
<ion-content padding>
    <ion-list>  
       <ion-item>
        <ion-label  color='label-info' stacked>用户编号</ion-label>
        <ion-input type="tel" placeholder=" "></ion-input>
      </ion-item> 
      <ion-item>
          <ion-label  color='label-info' stacked>邮箱</ion-label>
          <ion-input type="tel" placeholder=" "></ion-input>
      </ion-item>
      <ion-item>
          <ion-label  color='label-info' stacked>注册号</ion-label>
          <ion-input type="tel" placeholder=" "></ion-input>
      </ion-item> 
      <ion-item>
          <ion-label  color='label-info' stacked>姓名</ion-label>
          <ion-input type="tel" placeholder=" "></ion-input>
      </ion-item>
      <ion-item>
          <ion-label  color='label-info' stacked>电话</ion-label>
          <ion-input type="tel" placeholder=" "></ion-input>
      </ion-item> 
      <ion-item>
          <ion-label  color='label-info' stacked>CIVILITY</ion-label>
          <ion-input type="tel" placeholder=" "></ion-input>
      </ion-item>  
      <ion-item>
          <ion-label  color='label-info' stacked>类型</ion-label>
          <ion-input type="tel" placeholder=" "></ion-input>
      </ion-item> 
      <ion-item>
          <ion-label  color='label-info' stacked>税类型</ion-label>
          <ion-input type="tel" placeholder=" "></ion-input>
      </ion-item> 
    </ion-list> 
    <ion-fab right bottom>
            <button ion-fab color="theme" (click)="goToCreateOrderPage()"> 确认</button>
    </ion-fab> 
</ion-content>
