<!--
  Generated template for the SearchClientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 
  <ion-navbar> 
      <ion-title>查找客户</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="close()" >
              <ion-icon ios="ios-close" md="md-close"></ion-icon>
          </button>
    </ion-buttons> 
    </ion-navbar> 
    <ion-searchbar  (ionInput)="searchClients($event)"   [(ngModel)]="keywords" #searchInput>  </ion-searchbar>
</ion-header>  
<ion-content padding>  
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>  
      <ion-item *ngFor="let client of clients" (click) = "onItemClicked(client)">
        <h3 text-wrap>姓名 : {{ client.name }}</h3> 
        <p>邮箱 : {{ client.email}}</p> 
        <p>TVA : {{ client.tvaNumber}}</p>  
      </ion-item>
    </ion-list>
  <!--   <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>
