<!--
  Generated template for the OrderDraftPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>待发送订单</ion-title>
  </ion-navbar>

</ion-header> 
<ion-content padding>
 <!--    <ion-fab right bottom>
        <button ion-fab color="theme" (click)="goToCreateOrderPage()"><ion-icon name="add"></ion-icon></button>
    </ion-fab> -->
</ion-content>
