<ion-header> 
  <ion-navbar> 
    <ion-title>地址管理</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="close()" >
          <ion-icon ios="md-close"></ion-icon>
        </button>
  </ion-buttons> 
  </ion-navbar> 
</ion-header> 
<ion-content padding>
  <section>
    <ion-list>  
        <ion-item>
          <ion-label  color='label-info' stacked>收件人</ion-label>
          <ion-input type="text" placeholder=" " [(ngModel)]="cClientAddress.receiverName" clearInput></ion-input>
        </ion-item> 
        <ion-item>
            <ion-label  color='label-info' stacked>电话</ion-label>
            <ion-input type="tel" placeholder=" " [(ngModel)]="cClientAddress.telephone" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-label  color='label-info' stacked>地址</ion-label>
            <ion-input type="text" placeholder="Ex: 3 rue de maximillien Robespierre" [(ngModel)]="cClientAddress.address1" clearInput></ion-input>
        </ion-item>  
        <ion-row> 
                <ion-col col-6>
                      <ion-label  color='label-info' stacked>公寓号</ion-label>
                    <ion-input type="text" placeholder="Ex:Apt 283 " [(ngModel)]="cClientAddress.address2" clearInput></ion-input>
                </ion-col>  
                <ion-col col-6> 
                    <ion-label  color='label-info' stacked>邮编</ion-label>
                    <ion-input type="text" placeholder="Ex: 94100" [(ngModel)]="cClientAddress.postalCode" clearInput></ion-input>
                </ion-col> 
      </ion-row> 
       <ion-row> 
            <ion-col col-12>
                      <ion-label  color='label-info' stacked>城市</ion-label>
                    <ion-input type="text" placeholder="Ex: Paris" [(ngModel)]="cClientAddress.city" clearInput></ion-input>
            </ion-col>   
       </ion-row>  
       <ion-item>
            <ion-label  color='label-info' stacked>国家</ion-label> 
            <ion-select [(ngModel)]="cClientAddress.countryCode" name="country"    >
            <div *ngFor="let c of countries ">
                <ion-option value="{{c.code}}">{{c.name}}</ion-option>
            </div>
            </ion-select>
          </ion-item>
            <ion-row> 
                <ion-col col-6>
                  <ion-label>设为物流地址 </ion-label>
                  <ion-checkbox [(ngModel)]="cClientAddress.ifDeliveryAddress" (ngModelChange)="onDeliveryAddressChange()" [disabled]="isDeliveryAddressDisabled"></ion-checkbox>
                </ion-col>  
                <ion-col col-6> 
                  <ion-label>设为发票地址</ion-label>
                  <ion-checkbox [(ngModel)]="cClientAddress.ifBillingAddress" (ngModelChange)="onBillingAddressChange()" [disabled]="isBillingAddressDisabled"></ion-checkbox>
                </ion-col> 
            </ion-row> 
      </ion-list> 
<!--      <ion-toolbar float-right>
          <button ion-button>保存</button>
          <button ion-button color = "danger">删除</button> 
      </ion-toolbar>   -->
      <ion-fab right bottom>
            <button ion-fab color="theme" (click)="saveAddress()" >确认</button>
      </ion-fab> 
  </section> 
</ion-content>
