 
<ion-header> 
    <ion-navbar> 
        <ion-title>TVA</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="close()" >
              <ion-icon ios="md-close"></ion-icon>
            </button>
      </ion-buttons> 
      </ion-navbar> 
</ion-header> 

<ion-content padding>
    <ion-list>
        <ion-item>  
          <h2>Valid</h2>
          <p> <ion-icon *ngIf = "tvaInfo.valid" name="checkmark-circle" color= "secondary">  </ion-icon> 
              <ion-icon *ngIf = "!tvaInfo.valid" name="ios-close-circle" color= "danger"></ion-icon>
          </p> 
        </ion-item>
        <ion-item> 
            <h2>TVA</h2>
            <p> {{tvaInfo.query}} </p>
          </ion-item>
          <ion-item> 
              <h2>Country Code</h2>
              <p>{{tvaInfo.country_code}}</p>
            </ion-item>
          <ion-item text-wrap> 
              <h2>Company</h2>
              <p>{{tvaInfo.company_name}}</p>
          </ion-item>
          <ion-item text-wrap> 
              <h2>Address</h2>
              <p>{{tvaInfo.company_address }}</p>
          </ion-item>
      </ion-list>
</ion-content> 