page-create-order-payment {
   .down-payment-block{
    ion-select{
      padding:0;   
      max-width: 100% !important;
      width: 100%;
      text-align: center;
      border: solid 1px map-get($colors, label-info) !important;
      height: 30px; 
    }
    .item-cover{
   
    }
    .select-icon { 
        margin-top: 5px;
        margin-right: 6px;
    }
    .select-text{  
        padding-top: 7px;
        font-size: 11px;
    }
   }
   .payment-add-button{
     margin: 0px;
     height: 25px;
     width: 25px;
   }
   .text-input[disabled] {
    opacity: 1;
    background: #eee;
    }
    .danger .text-input{
        background : #f53d3d 
    }
}
