 
<ion-header> 
  <order-header [headerTitle]="headerTitle"> 
  </order-header>
  <breadcrumbs [pageNumber]="pageNumber"></breadcrumbs>  
</ion-header>  
<ion-content padding>
  <ion-grid class="block-small" >
    <ion-row no-padding >
      <ion-col col-3 no-padding>
        <ion-label class="label-small">总金额 :</ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-input class = "input-with-border" type = "number" [disabled]="true"  [(ngModel)] = "cOrder.payment.gross"></ion-input>
      </ion-col>
      <ion-col col-1>
        <ion-label  class="label-small-right" > € </ion-label>
      </ion-col>
    </ion-row> 
    <ion-row  no-padding >
      <ion-col col-3 no-padding>
        <ion-label class="label-small">支付折扣 :</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-input class = "input-with-border" type = "number"  [(ngModel)] = "cOrder.payment.discount" (ngModelChange)="calcul()"></ion-input>
      </ion-col>
      <ion-col col-1>
        <ion-label   class="label-small-right">/</ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-input class = "input-with-border" type = "number"  [(ngModel)] = "cOrder.payment.discountPercentage" (ngModelChange)="calcul('discountPercentage')"></ion-input>
      </ion-col>
      <ion-col col-1>
        <ion-label   class="label-small-right">%</ion-label>
      </ion-col>
    </ion-row> 
    <ion-row  no-padding >
      <ion-col col-3 no-padding>
        <ion-label class="label-small">产品折扣 :</ion-label>
      </ion-col>
      <ion-col col-7>
        <ion-input class = "input-with-border" type = "number"  [(ngModel)] = "cOrder.payment.paymentDiscount" (ngModelChange)="calcul()"></ion-input>
      </ion-col>
      <ion-col col-1>
        <ion-label   class="label-small-right">%</ion-label>
      </ion-col>
    </ion-row> 
    <ion-row  no-padding >
      <ion-col col-3 no-padding>
        <ion-label class="label-small">净销售价格 :</ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-input class = "input-with-border"   [disabled]="true" type = "number"  [(ngModel)] = "cOrder.payment.net" (ngModelChange)="calcul()"></ion-input>
      </ion-col>
      <ion-col col-1>
        <ion-label   class="label-small-right"> € </ion-label>
      </ion-col>
    </ion-row> 
    <ion-row  no-padding >
      <ion-col col-3>
        <ion-label class="label-small">增值税TVA :</ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-input class = "input-with-border" [disabled]="true" type = "number"   [(ngModel)] = "cOrder.payment.tax" (ngModelChange)="calcul()"></ion-input>
      </ion-col>
      <ion-col col-1>
        <ion-label   class="label-small-right"> € </ion-label>
      </ion-col>
    </ion-row>  
    <ion-row  no-padding >
      <ion-col col-3 no-padding>
        <ion-label class="label-small">物流含税费 :</ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-input class = "input-with-border" type = "number"   [(ngModel)] = "cOrder.payment.transportCost" (ngModelChange)="calcul()"></ion-input>
      </ion-col>
      <ion-col col-1>
        <ion-label   class="label-small-right"> € </ion-label>
      </ion-col>
    </ion-row> 
    <ion-row  no-padding >
      <ion-col col-3 no-padding>
        <ion-label class="label-small">总支付价格 :</ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-input class = "input-with-border" type = "number"   [disabled]="true" [(ngModel)] = "cOrder.payment.total"></ion-input>
      </ion-col>
      <ion-col col-1> 
        <ion-label   class="label-small-right"> € </ion-label>
      </ion-col>
    </ion-row>  
    <ion-row  no-padding >
        <ion-col col-12 no-padding>
          <ion-label text-left  >订金 :</ion-label>
        </ion-col>
    </ion-row> 
    <ion-row class= "down-payment-block" *ngFor="let deposit of cOrder.payment.deposits" > 
        <ion-col col-4>  
          <ion-select [(ngModel)]="deposit.paymentType.id">
            <div *ngFor="let paymentType of paymentTypes">
              <ion-option   value="{{paymentType.id}}">{{paymentType.name}}</ion-option>   
            </div> 
          </ion-select> 
        </ion-col>
        <ion-col col-5>  
            <ion-input class = "input-with-border" [(ngModel)]="deposit.value" (ngModelChange)="calculRestToPay()"></ion-input> 
        </ion-col> 
        <ion-col col-3  >  
            <button ion-button icon-only  class = "payment-add-button" (click)="addNewDepositInputField()">
                <ion-icon name="md-add"></ion-icon>
            </button>
            <button color= "danger" ion-button icon-only  class = "payment-add-button" (click)="removeDepositInputField(deposit)" *ngIf = "cOrder.payment.deposits.length > 1">
              <ion-icon name="ios-trash"></ion-icon>
           </button>
            
        </ion-col> 
      </ion-row>   
      <ion-row  no-padding >
        <ion-col col-12 no-padding>
          <ion-label text-left  >付款 :</ion-label>
        </ion-col>
      </ion-row> 
      <ion-row class= "down-payment-block"  *ngFor="let pRegulation of cOrder.payment.paymentRegulations ,let i = index"> 
        <ion-col col-4>  
                <ion-select [(ngModel)]="pRegulation.paymentType.id">
                  <div *ngFor="let paymentType of paymentTypes">
                    <ion-option   value="{{paymentType.id}}">{{paymentType.name}}</ion-option>   
                  </div> 
                </ion-select> 
        </ion-col> 
        <ion-col col-5>  
          <ion-input class = "input-with-border" [(ngModel)]="pRegulation.value" (ngModelChange)="calculRestToPay()"></ion-input>  
        </ion-col>  
        <ion-col col-3  >  
            <button ion-button icon-only  class = "payment-add-button" (click)="addNewPaymentInputField()">
                <ion-icon name="md-add"></ion-icon>
            </button>
            <button color= "danger" ion-button icon-only  class = "payment-add-button" (click)="removePaymentInputField(pRegulation)" *ngIf = "cOrder.payment.paymentRegulations.length > 1 && i != cOrder.payment.paymentRegulations.length -1  ">
                <ion-icon name="ios-trash"></ion-icon>
            </button>
            <button ion-button icon-only  class = "payment-add-button" *ngIf = "i == (cOrder.payment.paymentRegulations.length -1 )" (click)="exchangeValue(pRegulation)">
              <ion-icon name="ios-calculator"></ion-icon>
          </button>
        </ion-col> 
      </ion-row> 
      <ion-row  no-padding >
          <ion-col col-3 no-padding>
            <ion-label style="font-size: 12px; ">剩余支付 :</ion-label>
          </ion-col>
          <ion-col col-8>
            <ion-input class = "input-with-border" [ngClass]="[(cOrder.payment.restToPay < 0) ? 'danger' : '']"   type = "number"   [disabled]="true" [(ngModel)] = "cOrder.payment.restToPay" ></ion-input>
          </ion-col>
          <ion-col col-1> 
            <ion-label   class="label-small-right"> € </ion-label>
          </ion-col>
        </ion-row> 
  </ion-grid>  
</ion-content>
<ion-footer>
  <order-footer nextScreen="CreateOrderLogisticPage"></order-footer>
</ion-footer>