// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.input-with-border{
    border: solid 1px map-get($colors, label-info) !important;
    height: 30px;
    input{
        margin: 0px 8px 11px 0;
        padding: 0;  
        width: 100%;
        height: 30px;
        text-align: right;
        padding-right: 5px;
    }
}

.label-small{
    font-size: 11px;
    height: 30px; 
    padding-top: 0px;
    text-align: right;
    margin: 9px 8px 11px 0;
}
.label-small-right{
    font-size: 15px;
    height: 30px; 
    padding-top: 0px;
    text-align: center;
    margin:7px 8px 11px 0;
    width: 100%;
} 

.block-small{
  .row{
    height: 40px;
  }
  .col{
      height: 30px;
  } 
}

.address-type .label{
    font-size: 12px;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #dedede;
    -webkit-box-shadow: none;  
    box-shadow: none;  
}
.no-scroll{
    overflow-y: hidden;
}
