<ion-header>
  <order-header [headerTitle]="headerTitle">
  </order-header>  
  <breadcrumbs [pageNumber]="pageNumber"></breadcrumbs>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color='label-info' stacked>运输付款方式</ion-label>
      <ion-select [(ngModel)]="cOrder.transportPaymentStatus.id">
          <div *ngFor="let pMethord of paymentMethordList">
              <ion-option   value="{{pMethord.id}}">{{pMethord.name}}</ion-option>   
         </div> 
      </ion-select> 
    </ion-item> 
    <ion-item>
      <ion-label color='label-info' stacked>运输方式</ion-label>
      <ion-select [(ngModel)]="cOrder.transportMethod.id">
          <div *ngFor="let tMethord of transportMethordList">
              <ion-option   value="{{tMethord.id}}">{{tMethord.name}}</ion-option>   
         </div> 
      </ion-select>
    </ion-item> 
    <ion-item *ngIf="cOrder.transportMethod.id == '6'">
      <ion-label stacked>运输公司</ion-label>
      <select-searchable  
          item-content
          [(ngModel)]="cOrder.transportCompany"
          [items]="transportCompanyList"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="searchTransportCompany($event)">
          <ng-template selectSearchableCloseButtonTemplate>
            <ion-icon ios="ios-close" md="md-close"></ion-icon>
          </ng-template>
      </select-searchable>
    </ion-item>
    <ion-item>
      <ion-label color='label-info' stacked>客户特殊要求</ion-label>
      <ion-textarea  [(ngModel)]="cOrder.extraClientInfo"  rows="4" maxLength="300" placeholder="最多300字符" clearInput></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color='label-info' stacked>订单附加信息</ion-label>
      <ion-textarea [(ngModel)]="cOrder.comments" rows="4" maxLength="300" placeholder="最多300字符" clearInput></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      备货
    </ion-list-header>
    <ion-item>
      <ion-label>GRAND COLIS </ion-label>
      <ion-checkbox [(ngModel)]="cOrder.preparation.grandColis"></ion-checkbox>
    </ion-item>  
    <ion-item>
      <ion-label>Tout en Carton</ion-label>
      <ion-checkbox [(ngModel)]="cOrder.preparation.packing"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>PACKING</ion-label>
      <ion-checkbox [(ngModel)]="cOrder.preparation.toutEnCarton"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Attend VIREMENT </ion-label>
      <ion-checkbox [(ngModel)]="cOrder.preparation.attendVirement"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Mettre à Coté</ion-label>
      <ion-checkbox [(ngModel)]="cOrder.preparation.mettreACote"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <order-footer nextScreen="NoPage" [onOrderSubmit] = "onSubmit" ></order-footer> 
</ion-footer>  
 