
order-footer {
    .no-border {
        border: 0px;
      }
      .product-total-price{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
      }
}

