<ion-toolbar no-padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <button ion-button icon-start icon-only color="dark" (click)="goToPreviousScreen()" outline class="no-border" *ngIf="showPrevious()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col *ngIf="ifProductPage()" class="product-total-price"> 
        <ion-item >
            总计 :  {{total}} €
        </ion-item> 
      </ion-col>
      <ion-col no-padding  *ngIf="showNext()" >
        <button float-right ion-button icon-end icon-only color="dark" (click)="goToNextScreen()" outline class="no-border">
          <ion-icon name="arrow-forward"></ion-icon>
        </button> 
      </ion-col>
      <ion-col *ngIf="ifSubmitPage()" style="margin-right: 14px;"> 
        <button float-right  ion-button  icon-end  (click)= "onSubmitClick()"> 
           提交
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
 