 <ion-navbar hideBackButton = "true" class = "padding-header"> 
  <ion-buttons start>
    <button ion-button icon-only (click)="goToHomePage()" >
      <ion-icon ios="ios-home-outline"></ion-icon>
    </button>
  </ion-buttons>  
  <ion-title > {{headerTitle}} </ion-title>  
</ion-navbar>   