order-header {
    .navbarCustomclass {
        min-height: calc(44px + env(safe-area-inset-top));
      }
      .navbarButtonIcon {
        padding-top: 1em !important;
        height: 50px !important;
      }
      ion-navbar ion-title div {
        padding-top: env(safe-area-inset-top);
      }
      .padding-header{
        padding-top: 20px;
      }
}
