<ul class="steps-progress-bar">
  <li id="first-step"  [ngClass]=" [(pageNumber == 1 ) ? 'active' :'' ]" (click)="goToScreen(1 , $event.target.classList.contains('active'))" tappable>
  </li>
  <li id="second-step" [ngClass]="[(pageNumber == 2 ) ? 'active' :'']" (click)="goToScreen(2,$event.target.classList.contains('active'))" tappable>
  </li>
  <li id="third-step" [ngClass]="[(pageNumber == 3) ? 'active' : '']" (click)="goToScreen(3,$event.target.classList.contains('active'))"  tappable>
  </li>
  <li id="fourth-step" [ngClass]="[(pageNumber == 4) ? 'active' : '' ]" (click)="goToScreen(4,$event.target.classList.contains('active'))" tappable>
  </li> 
</ul>

