breadcrumbs {
  /* Steps progressbar */
  .steps-progress-bar {
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    width: 90%;
    padding: 0px;
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
  }
  .steps-progress-bar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
  }
  .steps-progress-bar li p {
    color: #b9b9b9;
  }
  .steps-progress-bar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 15px;
    background: #D8D8D8;
    margin: 0 auto 5px auto;
    border-radius: 39px;
    color: #889399;
    top: 5px;
    position: relative;
  }
  /*progressbar connectors*/
  .steps-progress-bar li:after {
    content: '';
    width: 100%;
    position: absolute;
    left: -50%;
    top: 24px;
    z-index: -1;
    border-style: dotted;
    border-color: #D8D8D8;
    border-top: 1px;
  }
  .steps-progress-bar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  .steps-progress-bar li.active:before,
  .steps-progress-bar li.active:after {
    color: white; 
  }
  .steps-progress-bar li.active:before {
    background: $radio-button-checked-innercolor;
  }
  .steps-progress-bar li.active p {
    color: $radio-button-checked-innercolor;
  }
  ul.steps-progress-bar {
    font-weight: bold;
  }
}
